<p id="notice"><%= notice %></p>

<h1>First Blogs</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @first_blogs.each do |first_blog| %>
      <tr>
        <td><%= first_blog.title %></td>
        <td><%= first_blog.body %></td>
        <td><%= link_to 'Show', first_blog %></td>
        <td><%= link_to 'Edit', edit_first_blog_path(first_blog) %></td>
        <td><%= link_to 'Destroy', first_blog, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New First Blog', new_first_blog_path %>
